<style type="text/css">

  div.sonar-content, div.sonar-content h1, div.sonar-content h5 a{
    text-align: right;
    color: white;
  }

  .statusQualitygate, .codeCoverage, .blockerIssues, .technicalDept, .vulnerabilities {
    border: 2px solid white;
    margin-bottom: 2%;
  }

  .codeCoverage, .technicalDept, .blockerIssues, .vulnerabilities{
    background-color: #1B7DAA;
  }


  .glyphiconStyle {
    float: left;
    font-size: 2.5em;
    margin-top: 25px;
  }

  .error {
    background-color: #E43B53;
  }

  .warning {
    background-color: #DD7800;
  }

  .ok {
    background-color: #B5CA00;
  }

  .unknown {
    background-color: #777777;
  }
</style>


<div class="alert alert-info" ng-if="!vm.project">
  Please configure the widget
</div>

<div class="sonar-content col-md-12" ng-if="vm.project">

  <div ng-switch on="vm.qualityGateStatus">
    <div ng-switch-when="OK">
      <div class="ok col-md-6 statusQualitygate">
        <span class="glyphicon  glyphicon-ok-sign glyphiconStyle"></span>
        <h1>OK</h1>
        <h5><a href="{{vm.url}}/quality_gates">Quality Gate</a></h5>
      </div>
    </div>
    <div ng-switch-when="ERROR">
      <div class="error col-md-6 statusQualitygate">
        <h2>Failed</h2>
        <h5><a href="{{vm.url}}/quality_gates">Quality Gate</a></h5>
      </div>
    </div>
    <div ng-switch-when="WARNING">
      <div class="warning col-md-6 statusQualitygate">
        <h2>Warning</h2>
        <h5><a href="{{vm.url}}/quality_gates">Quality Gate</a></h5>
      </div>
    </div>

    <div ng-switch-default>
      <div class="unknown col-md-6 statusQualitygate">
        <h2>unknown</h2>
        <h5><a href="{{vm.url}}/quality_gates">Quality Gate</a></h5>
      </div>
    </div>
  </div>


  <div class="col-md-6 vulnerabilities">
    <span class="glyphicon  glyphicon glyphicon-lock glyphiconStyle"></span>
    <h1>{{vm.vulnerabilities}}</h1>
    <h5><a href="{{vm.url}}/project/issues?facetMode=effort&id={{vm.project}}&resolved=false&types=VULNERABILITY">Vulnerabilities</a></h5>
  </div>


  <div class="col-md-6 codeCoverage">
    <span class="glyphicon glyphicon-tasks glyphiconStyle"></span>
    <h1>{{vm.coverage||"unknown"}}</h1>
    <h5><a href="{{vm.url}}/component_measures?id={{vm.project}}&metric=coverage">Code Coverage</a></h5>
  </div>
  <div class="col-md-6 blockerIssues">
    <span class="glyphicon glyphicon-exclamation-sign glyphiconStyle"></span>
    <h1>{{vm.blocker||"unknown"}}</h1>
    <h5><a href="{{vm.url}}/component_measures?id={{vm.project}}&metric=bugs">Blocker Issues</a></h5>
  </div>
  <div class="col-md-12 technicalDept">
    <span class="glyphicon glyphicon-time glyphiconStyle"></span>
    <h1>{{vm.technicalDept+" days" ||"unknown"}}</h1>
    <h5><a href="{{vm.url}}/project/issues?facetMode=effort&id={{vm.project}}&resolved=false&types=CODE_SMELL">Technical Dept</a></h5>
  </div>
  <a href="https://docs.sonarqube.org/latest/user-guide/metric-definitions/" class="pull-right">about metrics</a>
</div>

