<style type="text/css"></style>
<form role="form">
  <div class="form-group" ng-controller="editController as vm">
    <label for="sample">API-URL</label>
    <p>
      <input class="form-control" id="sample" ng-model="config.apiUrl" placeholder="Sonar-URL" type="text"
             ng-change="updateProjects()">
    </p>
    <label for="sample">Project</label>
    (*Required)
    <p>
      <input id="project" name="project" type="text" class="form-control" autocomplete="off"
             placeholder="Choose project" ng-model="config.project" required="true"
             uib-typeahead="project.name for project in vm.projects | limitTo:10 | filter:$viewValue"/>
    </p>

    <label for="sample">Timespan</label>
    <p>
      <label class="radio-inline">
        <input name="timespan" ng-model="config.timespan.type" type="radio" value="dynamic">Dynamic</label>
      <label class="radio-inline">
        <input name="timespan" ng-model="config.timespan.type" type="radio" value="static">Static</label>
      <label class="radio-inline">
        <input name="timespan" ng-model="config.timespan.type" type="radio" value="no">None</label>
    </p>
    <div ng-if="config.timespan.type=='static'">
      <p class="input-group">
        <input class="form-control" datepicker-options="dateOptions" is-open="popup1.opened"
               ng-model="config.timespan.fromDateTime" placeholder="von" show-button-bar="false" type="text"
               uib-datepicker-popup="{{format}}"/>
        <span class="input-group-btn">
        <button class="btn btn-default" ng-click="open1()" type="button">
          <i class="glyphicon glyphicon-calendar"></i>
        </button>
      </span>
      </p>
      <p class="input-group">
        <input class="form-control" datepicker-options="dateOptions" is-open="popup2.opened"
               ng-model="config.timespan.toDateTime" placeholder="bis" show-button-bar="false" type="text"
               uib-datepicker-popup="{{format}}"/>
        <span class="input-group-btn">
        <button class="btn btn-default" ng-click="open2()" type="button">
          <i class="glyphicon glyphicon-calendar"></i>
        </button>
      </span>
      </p>
    </div>
    <p ng-if="config.timespan.type=='dynamic'">
      <label class="radio-inline">
        <input name="timespan.dynamic" ng-model="config.timespan.dynamic" type="radio" value="week">last week</label>
      <label class="radio-inline">
        <input name="timespan.dynamic" ng-model="config.timespan.dynamic" type="radio" value="month">last month</label>
      <label class="radio-inline">
        <input name="timespan.dynamic" ng-model="config.timespan.dynamic" type="radio" value="year">last year</label>
    </p>
    <label for="sample">Metric Selection</label>
    <div class="checkbox">
      <label>
        <input ng-model="config.metrics.linesOfCode" type="checkbox">Lines of Code</label>
    </div>
    <div class="checkbox">
      <label>
        <input ng-model="config.metrics.technicalDebt" type="checkbox">Technical Debt</label>
    </div>
    <div class="checkbox">
      <label>
        <input ng-model="config.metrics.amountTest" type="checkbox">Number Unit-Tests</label>
    </div>
    <div class="checkbox">
      <label>
        <input ng-model="config.metrics.testCoverage" type="checkbox">Test Coverage</label>
    </div>
    <div class="checkbox">
      <label>
        <input ng-model="config.metrics.issues" type="checkbox">Open Issues</label>
    </div>
    <div class="checkbox">
      <label>
        <input ng-model="config.metrics.rulesviolations" type="checkbox">Duplicate Code (%)</label>
    </div>
  </div>
</form>
