<form role="form">
  <div class="form-group">
    <label for="sample">API-URL</label>
    <input type="text" class="form-control" id="sample" ng-model="config.apiUrl" placeholder="Sonar-URL">
    <label for="sample">Projekt hinzufügen</label>
    <input type="text" class="form-control" id="sample" ng-model="config.projectname1" ng-required="true" placeholder="Projekt Links">
    <label for="sample">Projekt hinzufügen</label>
    <input type="text" class="form-control" id="sample" ng-model="config.projectname2" ng-required="true" placeholder="Projekt Rechts">
  </div>
</form>
