<div class="alert alert-info" ng-if="!vm.projectLeft">
  Please configure the widget
</div>
<div ng-if="vm.projectLeft" class="col-md-12 centerText">

  <table class="table">
    <tr>
      <th>Metric</th>
      <th>{{vm.projectLeft.data.component.name}}</th>
      <th>{{vm.projectRight.data.component.name}}</th>
    </tr>
    <tr ng-repeat="metric in vm.projectLeft.data.component.measures">
      <td>{{vm.METRIC_NAMES[metric.metric]}}</td>
      <td>{{vm.projectLeft.data.component.measures[$index].value}}</td>
      <td>{{vm.projectRight.data.component.measures[$index].value}}</td>
    </tr>
  </table>

</div>
